#container {
    max-width: 1000px;
    margin: 0 auto;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    color: orange;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px #2c4a85;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #2c4a85;
    color: orange;
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

#update:hover {
    background-color: orange;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    border: 2px solid;
}

#tombolTambah {
    background-color: #2c4a85;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#tombolTambah:hover {
    background-color: orange;
}

#tombolHapus {
    background-color: red;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}
